.left-drawer{
-fx-background-color:#ffffff;
-fx-alignment:top_left;
}
.left-drawer SVGPath{
-fx-fill:#9a6592

;
}

.left-drawer .button{
-fx-background-color:#ffffff;
-fx-font-family: 'Roboto Medium', sans-serif;
-fx-font-weight:bold;
-fx-alignment:center-left;
-fx-font-size:16;
-fx-text-fill:#7892bb



;
}


.left-drawer .button:hover{
-fx-text-fill:#a055fa;

}

.left-drawer .label{
   -fx-background-color: transparent;
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:16;
    -fx-font-weight:normal;
}
.quick-access .label{
-fx-font-size:12;
}




.top-panel{
-fx-background-color:#ffffff;
}

.center-pane{
-fx-background-color:#f2ebf1;
-fx-padding:20;
}
.main-pane{
-fx-background-color:#ffffff;
-fx-background-radius:5;
-fx-padding:10;
}

.pagination{
-fx-padding:10;
-fx-background-color:#ffffff;
-fx-background-radius:5;
}


.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color:transparent;

}

.table-view .column-header {

    -fx-background-color: transparent;
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:16;
    -fx-font-weight:normal;

}

.table-view .column-header .label {
-fx-padding: 0px 0 0 0px;
  -fx-alignment: center-left;
}

.table-view .table-cell{
 -fx-border-style: hidden hidden solid hidden;
    -fx-border-color:#eeeeee;
    -fx-padding: 0 0px 0 0px;
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:16;
    -fx-text-fill:#757575;
}

.table-row-cell: hover {
    -fx-background-color: #f2e8ff;

}
.table-row-cell: selected {
    -fx-background-color: #fcbf9d;
}
.table-row-cell{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 -1 0;
     -fx-cell-size: 113px;

}

.table-cell {

    -fx-alignment: CENTER-LEFT;

 }

.table-cell .button{
-fx-label-padding:0;
-fx-text-fill:#fefcfe;
-fx-background-color: linear-gradient(to right, #d590ea, #9658e7);
}




/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {

    -fx-background-color: transparent;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: #ffdce1;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color:   linear-gradient(to right,#fcbf9d , #fd8295);
    -fx-text-fill:#fefcfe;

}

/* Remove spacing and control font size */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
    -fx-font-size: 12;
}

.pagination > .pagination-control {
    -fx-font-size: 8;
}

.pagination {
    -fx-page-information-visible: false;
}
