.button{
-fx-label-padding:5;
-fx-text-fill:#fefcfe;
-fx-background-color: linear-gradient(to right, #d590ea, #9658e7);

    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:16;
}

.label{
 -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:16;
 }
.notify-label{
    -fx-text-fill:#ff8297;
}

.text-field {
 -fx-background-color:white;
  -fx-border-radius:5;
 -fx-border-color:#eeeeee;
}
.text-input{
 -fx-text-fill:#808080;
-fx-background-color: transparent;
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:12;
    -fx-font-weight:normal;

}
.button-2{
-fx-background-color: linear-gradient(to right, #ffc4a6, #ff7a97);
-fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:16;
    -fx-font-weight:normal;
}

.center-pane{
-fx-background-color:#f2ebf1;
-fx-padding:20;
}

.main-pane{
-fx-background-color:#ffffff;
-fx-background-radius:5;
-fx-spacing:100;
-fx-padding:10;
}