.left-drawer{
-fx-background-color:#ffffff;
-fx-alignment:top_left;
}

.left-drawer SVGPath{
-fx-fill:#9a6592;
}

.left-drawer .button{
-fx-background-color:#ffffff;
-fx-font-family: 'Roboto Medium', sans-serif;
-fx-font-weight:bold;
-fx-alignment:center-left;
-fx-font-size:16;
-fx-text-fill:#7892bb;
}


.left-drawer .button:hover{
-fx-text-fill:#a055fa;

}

.left-drawer .label{
-fx-background-color: transparent;
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:16;
    -fx-font-weight:normal;
}
.quick-access .label{
-fx-font-size:12;
}
/*TODO*/
 #account-label{
-fx-text-fill:black;
-fx-background-color: transparent;
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:18;
    -fx-font-weight:normal;
}
#job-label{
-fx-text-fill:#d1d1d1;
-fx-background-color: transparent;
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:12;
    -fx-font-weight:normal;
}
.button-2{
-fx-label-padding:0;
-fx-text-fill:#fefcfe;
-fx-background-color: linear-gradient(to right, #ffc4a6, #ff7a97);
-fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:14;
    -fx-font-weight:normal;
}
/*TODO FLOWPANE */
/*TODO TABLE WIDTH */
.flow-pane .label{
-fx-text-fill:#0fcdb1;
 -fx-font-size:16;

}
* {
	-fx-primary-color:#fed642;
	-fx-secondary-color: #4B6EAF;
	-fx-light-grey-color: #d1d1d1;

	-fx-focus-color: -fx-secondary-color;
}
.date-picker{
-fx-background-color:#fae8a2;
}
.date-picker .button{
-fx-background-color:#fed642;
}
.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}



.center-pane{
-fx-background-color:#f2ebf1;   
-fx-padding:20;
-fx-spacing:20;
}

.main-pane{
-fx-background-color:#ffffff;
-fx-background-radius:5;
-fx-padding:10;
}
.text-field{
 -fx-background-color:white;
  -fx-border-radius:5;
 -fx-border-color:#eeeeee;
}

.text-input{
    -fx-text-fill:#808080;
    -fx-background-color: transparent;
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:12;
    -fx-font-weight:normal;

}
.text-area {
 -fx-background-color:white;
  -fx-border-radius:5;
 -fx-border-color:#eeeeee;
}
.label{
-fx-text-fill:#757575;
-fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:12;
    -fx-font-weight:normal;
}
.notify-label{
-fx-text-fill:#ff8297;
}

#heading-label{
    -fx-text-fill:#000000;
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:16;
    -fx-font-weight:normal;


}
.heading-label{
    -fx-text-fill:#000000;
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:16;
    -fx-font-weight:normal;

}
.button{
-fx-label-padding:0;
-fx-text-fill:#fefcfe;
-fx-background-color: linear-gradient(to right, #d590ea, #9658e7);
-fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:14;
    -fx-font-weight:normal;
}
.choice-box{
-fx-label-padding:0;
-fx-background-color:#fae8a2;
-fx-text-fill:#757575;
-fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:12;
    -fx-font-weight:normal;
}

.choice-box .context-menu {
 -fx-background-color: #fae8a2;
  }

.choice-box .menu-item:focused {
 -fx-background-color: #fed642;
  }

.choice-box .menu-item > .label {
-fx-text-fill:#757575;
-fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:12;
    -fx-font-weight:normal;
}


.pagination{
-fx-padding:10;
-fx-background-color:#ffffff;
-fx-background-radius:5;
}


.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color:transparent;

}


.table-view .column-header {
    -fx-text-fill:#000000;
    -fx-background-color: transparent;
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:16;
    -fx-font-weight:normal;

}

.table-view .column-header .label {
fx-text-fill:#000000;
-fx-padding: 0px 0 0 0px;
  -fx-alignment: center-left;
}

.table-view .table-cell{
 -fx-border-style: hidden hidden solid hidden;
    -fx-border-color:#eeeeee;
    -fx-padding: 0 0px 0 0px;
    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:14;
    -fx-text-fill:#757575;
}

.table-row-cell: hover {
    -fx-background-color: #f2e8ff;

}
.table-row-cell: selected {
    -fx-background-color: #fcbf9d;
}
.table-row-cell{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 -1 0;
     -fx-cell-size: 113px;

}

.table-cell {

    -fx-alignment: CENTER-LEFT;

 }

.table-cell .button{
-fx-label-padding:0;
-fx-text-fill:#fefcfe;
-fx-background-color: linear-gradient(to right, #d590ea, #9658e7);
}




/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {

    -fx-background-color: transparent;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: #ffdce1;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color:   linear-gradient(to right,#fcbf9d , #fd8295);
    -fx-text-fill:#fefcfe;

}

/* Remove spacing and control font size */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
    -fx-font-size: 12;
}

.pagination > .pagination-control {
    -fx-font-size: 8;
}

.pagination {
    -fx-page-information-visible: false;
}
