.button{
-fx-label-padding:5;
-fx-text-fill:#fefcfe;
-fx-background-color: linear-gradient(to right, #d590ea, #9658e7);

    -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:16;
}

.label{
 -fx-font-family: 'Roboto Medium', sans-serif;
    -fx-font-size:16;
    }

.text-field {
 -fx-background-color:white;
  -fx-border-radius:5;
 -fx-border-color:#eeeeee;
}

.center-pane{
-fx-background-color:#f2ebf1;
-fx-padding:20;
}

.main-pane{
-fx-background-color:#ffffff;
-fx-background-radius:5;
-fx-spacing:20;
-fx-padding:20;
}
